name: Firmware pull request validation

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Cache PlatformIO
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            ~/.platformio
          key: ${{ runner.os }}-pio-${{ hashFiles('platformio.ini')}}
          restore-keys: |
            ${{ runner.os }}-pio-

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio

      - name: Checkout custom devices
        uses: actions/checkout@v3
        with:
          repository: MobiFlight/MobiFlight-CustomDevices
          path: CustomDevices

      - name: Run PlatformIO
        env:
          VERSION: "0.0.${{ github.event.number }}"
        run: pio run

      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: firmware
          path: |
            .pio/build/**/*.hex
            .pio/build/**/*.uf2
